/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}
h1 {
  color: #fff;
}
.main { 
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/soup.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
ul, ol {
  list-style: none;
}
li {
  line-height: 1.8em;
}
/* STYLES */
section {
  padding: 100px;
}
.description {
  font-size: 18px;
  margin-bottom: 30px;
}
.coocking-info {
  display: block;
  margin: 30px auto;
  width: 40vw;
  min-width: 350px;
}
h2 {
  margin: 20px 0;
}
.ingredients { 
  border-top: 2px solid rgb(148, 148, 148);
  border-bottom: 2px solid rgb(148, 148, 148);
  padding-top: 25px;
  margin-bottom: 30px;
}
.ingredients_list {
  padding-left: 20px;
}
.ingredients_list li::before {

  content: '- ';
}
.directions_list {
  counter-reset: list;
  padding-left: 15px;
}
.directions_list li::before {
  content: counter(list) ") ";
  counter-increment: list;
}
